@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HW_201.Data.User
@using HW_201.Data

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phone numbers</title>
  <link href="~/css/StylesList.css" rel="stylesheet" />
  <script type="text/javascript" src="~/lib/js/Requests.js"></script>
</head>

<body class="BodyBackground">
  <div>
    <h1>
      <span>Phone book</span>
    </h1>
  </div>

  <div>
    
      <table class="TableMain">
        <tr>
          <td>
            <label>Surname</label><br />
            <input asp-for="Surname" value="" required form="create"/>
          </td>
          <td>
            <label>FirstName</label><br />
            <input asp-for="FirstName" value="" required form="create"/>
          </td>
          <td>
            <label>Patronymic</label><br />
            <input asp-for="Patronymic" value="" form="create"/>
          </td>
          <td>
            <label>Phone number</label><br />
            <input asp-for="PhoneNumber" value="" form="create"/>
          </td>
          <td>
            <label>Adress</label><br />
            <input asp-for="Adress" value="" form="create"/>
          </td>
          <td>
            <br />
            <form asp-controller="Main" asp-action="AddNewUser" method="post" id="create">
              <input type="submit" value="Добавить" />
            </form>
          </td>
          <td>
            <br />
            <form asp-controller="Main" asp-action="RandomRecord" method="post">
              <input type="submit" value="Случайно" />
            </form>
          </td>
        </tr>
      </table>

  </div>

  <table class="TableMain">
    @foreach (User item in ViewBag.Table)
    {
      <tr>
        <td align="center">
          <a href="@Url.Action("UsersInfo", new { id = item.Id })" class="btn btn-primary btn-lg">@item.Id</a>
          <input id="dataPut" asp-for="Id" type="hidden" form="upd_@item.Id" value="@item.Id" />
        </td>
        <td><input id="updSurname_@item.Id" asp-for="Surname" type="text" form="upd_@item.Id" value="@item.Surname" /></td>
        <td><input id="updFirstName_@item.Id" asp-for="FirstName" type="text" form="upd_@item.Id" value="@item.FirstName" /></td>
        <td><input id="updPatronymic_@item.Id" asp-for="Patronymic" type="text" form="upd_@item.Id" value="@item.Patronymic" /></td>
        <td><input id="updPhoneNumber_@item.Id" asp-for="PhoneNumber" type="text" form="upd_@item.Id" value="@item.PhoneNumber" /></td>
        <td><input id="updAdress_@item.Id" asp-for="Adress" type="text" form="upd_@item.Id" value="@item.Adress" /></td>

        <td>
          <form asp-controller="Main" asp-action="UpdateUser2" method="put" id="upd_@item.Id" asp-antiforgery="false">
            <input type="submit" value="Изменить" onclick="customRequest('PUT',@item.Id, true, '' )" />
          </form>
        </td>

        <td>
          <form asp-controller="Main" asp-action="DeleteMethod" method="delete" id="del_@item.Id" asp-antiforgery="false">
            <input type="hidden" asp-for="Id" value="@item.Id" form="del_@item.Id" />
            <input type="submit" value="Удалить" onclick="customRequest('DELETE',@item.Id, true, '')" />
          </form>
        </td>
      </tr>
    }
  </table>
  
</body>
</html>