@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HW_201.Data.User

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User_@Model.Id</title>
  <link href="~/css/StylesList.css" rel="stylesheet" />
</head>

<body>
  <div>
    <img class="Image" src="~/lib/img/PhoneBook.jpg" alt="Alternate Text">
    <h1 class="HeaderAbs">
      <span>
        @Model.Id @Model.Surname @Model.FirstName @Model.Patronymic
      </span>
    </h1>
  </div>

  <table class="TableUser">
    <tr>
      <td>Surname</td>
      <td>
        <input asp-for="Surname" value="@Model.Surname" required form="upd" class="Text" />
      </td>
    </tr>
    <tr>
      <td>FirstName</td>
      <td>
        <input asp-for="FirstName" value="@Model.FirstName" required form="upd" class="Text" />
      </td>
    </tr>
    <tr>
      <td>Patronymic</td>
      <td>
        <input asp-for="Patronymic" value="@Model.Patronymic" form="upd" class="Text" />
      </td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td>
        <input asp-for="PhoneNumber" value="@Model.PhoneNumber" form="upd" class="Text" />
      </td>
    </tr>
    <tr>
      <td>Adress</td>
      <td>
        <input asp-for="Adress" value="@Model.Adress" form="upd" class="Text" />
      </td>
    </tr>
    <tr>
      <td style="text-align:left; vertical-align:top;">Description</td>
      <td>
        <textarea asp-for="Description" form="upd" rows="3" class="TextArea">@Model.Description</textarea>
      </td>
    </tr>
  </table>

  <table class="TableUser">
    <tr>
      <td>
        <form asp-controller="Main" asp-action="UpdateUser" method="put" id="upd">
          <input asp-for="Id" type="hidden" value="@Model.Id" form="upd" />
          <input type="submit" value="Изменить" />
        </form>
      </td>
      <td>
        <form asp-controller="Main" asp-action="DeleteUser" method="delete">
          <input asp-for="Id" type="hidden" value="@Model.Id" />
          <input type="submit" value="Удалить" />
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form asp-controller="Main" asp-action="Index" method="get">
          <input type="submit" value="Назад" />
        </form>
      </td>
    </tr>
  </table>
</body>
</html>
